@charset "ISO-8859-1";

@charset "ISO-8859-1";
.alert{
	color:red;
}
h1{
	font-weight:bold;
}
body{
	text-align:center;
	font-family:Cambria;
	font-size: 120%;
}
.navbar{
	background-color:  #848482;
}
nav .navbar-nav li a{
  color: white !important;
  }
.card{
	margin-left:20%;
	margin-right:20%;
	margin-bottom:2%;
	text-align:left;
}

.card-header{ 
	font-style: italic;
	text-align: right;
}

.courseHeader{
	background-image: url("/images/course.png");
	padding-top: 3%;
	padding-bottom: 3%;
}
